html, body {
  height: 100%;
  background-color: wheat;
}

body {
  margin: 0px;
  padding-top: 100px;
  box-sizing: border-box;
}

/* Game */

/* Color circles section */
.colors-game {
  width: 500px;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
}

.color-circles-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;
}

.circle:hover:not(.blocked) {
  opacity: 0.5;
}

.circle.active {
  opacity: 1;
}

.circle:focus:not(.blocked), .circle:active:not(.blocked) {
  opacity: 0.7;
}

.circle.color-red {
  background-color: red;
}

.circle.color-orange {
  background-color: orange;
}

.circle.color-green {
  background-color: green;
}

.circle.color-blue {
  background-color: #5c5cef;
}

/* Play button */
.button-section {
  margin-top: 70px;
  text-align: center;
}

.play-btn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #2E8B57;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.play-btn:disabled {
  opacity: 0.2;
}

.play-btn:not(:disabled):hover {
  background-color: #246e45;
}

.play-btn:not(:disabled):active {
  background-color: #1e5e3b;
}
